.project-header {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  color: rgba(255, 255, 255, 1);
  opacity: 30%;
  line-height: 1.21rem;
}

.project-header > p {
  width: 100%;
}

hr {
  margin-top: 1.125rem;
  opacity: 12%;
  height: 1px;
}

