.taskbar {
    display: flex;
    align-items: center;
    gap: 1.75rem;
    font-size: 0.875rem;
}

.taskbar > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.taskbar > div:hover {
    border: 2px solid green;
}


.taskbar > div > p {
    opacity: 30%;
} 